a{
    background-color: red;
    color: red;
    background-img:url(http://www.baidu.com/img/baidu_jgylogo3.gif?v=123);
}

input{
    border-color: blue;
    background-img:url(http://koudai.com/images/logo_20140303.png?v=123);

}a{
    background-color: red;
    color: red;
    background-img:url(http://www.baidu.com/img/baidu_jgylogo3.gif?V=1234);
}

input{
    border-color: blue;
    background-img:url(http://koudai.com/images/logo_20140303.png?v=123);

}